*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2E2E2E;
    min-height: 100vh
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

/* h4 {
    text-align: center;
    margin-bottom: 5rem;
} */

.pencil-container,
.rainbow-container,
.grid-container,
.main-container {
    display: flex; 
}

.options-container {
    background-color: #94958b;
    box-shadow: 0 0 1rem rgb(131, 131, 131);
    border-radius: 1rem;
    height: 200px;
}

.options-container > * {
    margin-left: 1rem;
}

#rainbow {
    width: 4em;
    height: 1.5em;
    margin-top: 1.2em;
    margin-left: 0.5em;
}

#color-picker {
    align-self: center;
}
.main-container {
    justify-content: center;
    gap: 5rem;
}
#sketch-container {
    width: 600px;
    height: 600px;
    background-color: #FFC4EB;
    box-shadow: 0 0 1.5rem #FFC4EB;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.square {
    border: 1px solid black;
    background-color: white;
}

/* .square:hover {
    background-color: red;
} */

.active {
    border: 1px solid black;
    background-color: red;
}

@media only screen and (max-width: 900px) {

    .main-container {
        flex-wrap: wrap;
        margin: 0 5px 10px 5px;
    }

    body {
        min-width: 1000px;
        height: 800px;
    }
}